.overskrift_recipes {
  margin-top: 0%;
  padding-top: 12%;
  font-family: "Bungee";
  color: #b6391c;
  text-align: center;
  font-size: 300%;
  margin-bottom: 2%;
}

a:link {
  text-decoration: none;
}

a {
  color: #3e2b1b;
}

.category_list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 5%;
  font-family: "Inter";
  font-weight: 200;
  line-height: 200%;
  font-size: 100%;
  padding-left: 0;
  margin-right: 5%;
  margin-left: 5%;
  flex-wrap: wrap;
}

.card_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  margin-top: 5%;
}

.card_grid img {
  width: 85%;
}

.card_1 {
  background-color: #07542a;
  position: relative;
}

.card_2 {
  background-color: #ff6b3d;
  position: relative;
}

.card_3 {
  background-color: #b29f4e;
  position: relative;
}

.card_4 {
  background-color: #134592;
  position: relative;
}

.card_5 {
  background-color: #ba241e;
  position: relative;
}

.card_6 {
  background-color: #e7dac4;
  position: relative;
}

.card_7 {
  background-color: #3e2b1b;
  position: relative;
}

.card_8 {
  background-color: #f2991b;
  position: relative;
}

.card_overskift1 {
  font-family: "Inter";
  font-weight: 900;
  font-size: 150%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 2%;
  margin-bottom: 1%;
  color: #b29f4e;
}

.card_overskift2 {
  font-family: "Inter";
  font-weight: 900;
  font-size: 150%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 2%;
  margin-bottom: 1%;
  color: #ba241e;
}

.card_overskift3 {
  font-family: "Inter";
  font-weight: 900;
  font-size: 150%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 2%;
  margin-bottom: 1%;
  color: #07542a;
}

.card_overskift4 {
  font-family: "Inter";
  font-weight: 900;
  font-size: 150%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 2%;
  margin-bottom: 1%;
  color: #fefcdd;
}

.card_overskift5 {
  font-family: "Inter";
  font-weight: 900;
  font-size: 150%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 2%;
  margin-bottom: 1%;
  color: #ff6b3d;
}

.card_overskift6 {
  font-family: "Inter";
  font-weight: 900;
  font-size: 150%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 2%;
  margin-bottom: 1%;
  color: #3e2b1b;
}

.card_overskift7 {
  font-family: "Inter";
  font-weight: 900;
  font-size: 150%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 2%;
  margin-bottom: 1%;
  color: #e7dac4;
}

.card_overskift8 {
  font-family: "Inter";
  font-weight: 900;
  font-size: 150%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 2%;
  margin-bottom: 1%;
  color: #ba241e;
}

.total_time {
  font-family: "Inter";
  font-weight: 200;
  margin-bottom: 18%;
  margin-top: 0%;
  margin-left: 5%;
  color: white;
  font-size: 90%;
}

#Snacks {
  display: none;
}
@media (min-width: 768px) {
  .overskrift_recipes {
    padding-top: 5%;
    font-size: 500%;
    margin-bottom: 1%;
  }

  .category_list {
    gap: 5%;
    font-size: 20px;
    font-weight: 200;
  }

  .card_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin-top: 3%;
  }

  .card_overskift1 {
    font-size: 220%;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 3%;
  }

  .card_overskift2 {
    font-size: 220%;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 3%;
  }

  .card_overskift3 {
    font-size: 220%;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 3%;
  }

  .card_overskift4 {
    font-size: 220%;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 3%;
  }

  .card_overskift5 {
    font-size: 220%;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 3%;
  }

  .card_overskift6 {
    font-size: 220%;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 3%;
  }

  .card_overskift7 {
    font-size: 220%;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 3%;
  }

  .card_overskift8 {
    font-size: 220%;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 3%;
  }

  .total_time {
    margin-bottom: 20%;
    margin-top: 1%;
    margin-left: 8%;
    font-size: 110%;
  }

  #Snacks {
    display: none;
  }
}
