body,
main {
  margin: 0;
  padding: 0;
  background-color: #fefcdd;
}

.menupunkt {
  color: white;
  text-decoration: none;
}

.menupunkter {
  list-style-type: none;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10%;
  font-family: "Inter";
  font-weight: 300;
  line-height: 20%;
  font-size: 85%;
  padding: 0;
}

.menulinje {
  position: fixed;
  width: 100%;
  background-color: #b29f4e;
  z-index: 1000;
}

@media (min-width: 768px) {
  .menupunkter {
    gap: 5%;
    font-size: 100%;
    justify-content: left;
    padding-left: 10%;
  }
}
